.rain {
  background-image: url('./img/rain.jfif');
}
.snow {
  background-image: url('./img/snow.jfif');
}
.night {
  background-image: url('./img/night.jfif');
}
.fog {
  background-image: url('./img/fog.jfif');
}
.clouds {
  background-image: url('./img/clouds.jfif');
}
